.GridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(70px,100px) ;
    grid-auto-flow:dense;
    grid-gap: 2rem;
}

.Image{
    grid-row: auto / span 3;
    grid-column: auto /span 1;
    background-color: white;
    padding: 0;
    /* padding: 5%; */
    /* border: solid 1px black; */
    /* border-bottom: solid 1px black; */
}

.Works{
    transform: rotateZ(270deg) translateX(-40px);
    padding:20px 0;
}

.Image img{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Description{
    grid-row: auto/ span 1;
    grid-column: auto / span 1;
    /* border-bottom: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: rgb(245, 245, 245);
}

.Arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: solid 1px black;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .Wrapper{
        flex-direction: column;
    }
    
    .Works{
        transform: rotateZ(0deg) translateX(0);
    }
}

@media screen and (max-width: 768px){
    .GridWrapper{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(70px,100px) ;
        grid-auto-flow:dense;
        grid-gap: 2rem;
    }
    
    
    .Image{
        grid-row: auto / span 2;
        grid-column: auto /span 1;
    }
    
    .Description{
        grid-row: auto/ span 1;
        grid-column: auto / span 1;
    }
    .Works{
      padding:20px 0;
    }
    
}


@media screen and (max-width: 450px){
    .GridWrapper{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(70px,100px) ;
        grid-auto-flow:dense;
        grid-gap: 1rem;
    }
    
    .Wrapper{
        flex-direction: column;
    }

    .Image{
        grid-row: auto / span 2;
        grid-column: auto /span 1;
    }

    .Description{
        grid-row: auto/ span 1;
        grid-column: auto / span 1;
    }

    .Works{
        transform: rotateZ(0deg) translateX(0);
        padding:20px 0;
    }
    .Arrow{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
}