.max-screen-width{
    width: 100vw;
}

.common-side-padding{
    padding: 0 9%;
}

.common-padding{
    padding: 8% 7%;
}

.heading{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.subheading{
    font-size: 30px;
    font-weight: 400;
}

.name{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 6px;
}

.Fontfam{
    /* font-family: "Nyght"; */
    font-family: "Rosarivo";
}

.FontItalic{
    font-family: "Nyght-Italic";
    /* font-family: "Rosarico-Italic"; */
}

.logoname{
    font-size: 34px;
    font-family: Retro;
    font-weight: 800;
}

.color{
    color: rgb(242, 234, 234);
}


@media screen and (max-width: 1024px){
    .common-padding{
        padding: 5% 6%;
    }
    
    .common-side-padding{
        padding: 0 6%;
    }
    
    .heading{
        font-size: 35px;
    }
    
    .subheading{
        font-size: 28px;
    }
    
    .name{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px){
    .common-padding{
        padding: 5% 6%;
    }
    
    .common-side-padding{
        padding: 0 6%;
    }
    
    .heading{
        font-size: 30px;
    }
    
    .subheading{
        font-size: 24px;
    }
    
    .name{
        font-size: 40px;
    }
    
    .logoname{
        font-size: 30px;
    } 
}

@media screen and (max-width: 450px){
    .common-padding{
        padding: 10% 3%;
    }
    
    .common-side-padding{
        padding: 0 3%;
    }
    .heading{
        font-size: 25px;
    }

    .subheading{
        font-size: 16px;
    }
    
    .name{
        font-size: 35px;
    }
    
    .logoname{
        font-size: 30px;
    }
    
}